.action-btn {
    background-color: #0029ff;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    line-height: 20px;
    padding: 10px 20px;
    font: 14px OpenSans-Semibold;
}