.container_header {
    height: var(--header--height);
    width: 100vw;
    padding: 20px 0;
}

.body_header {
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create_header {
    width: 160px;
    height: 40px;
    float: right;
    background-color: #0029ff;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.input-img_header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.logo_header {
    width: 48px;
    height: 20px;
    background: url('/images/logo.svg') no-repeat left;
    background-size: 48px 20px;
    cursor: pointer;
}

.right_header {
    display: flex;
}