:root {
    --working-width: 1220px;
    --working-padding: 10px;
    --header--height: 80px;
    --post-width: 300px;
}

@font-face {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Regular"), local("OpenSans-Regular"), url('/fonts/OpenSans-Regular.woff') format("woff"), url('/fonts/OpenSans-Regular.woff2') format("woff2")
}

@font-face {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Light"), local("OpenSans-Light"), url('/fonts/OpenSans-Light.woff') format("woff"), url('/fonts/OpenSans-Light.woff2') format("woff2")
}

@font-face {
    font-family: OpenSans-Italic;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Italic"), local("OpenSans-Italic"), url('/fonts/OpenSans-Italic.woff') format("woff"), url('/fonts/OpenSans-Italic.woff2') format("woff2")
}

@font-face {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Bold"), local("OpenSans-Bold"), url('/fonts/OpenSans-Bold.woff') format("woff"),
    url('/fonts/OpenSans-Bold.woff2') format("woff2")
}


@font-face {
    font-family: OpenSans-SemiBold;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"), url('/fonts/OpenSans-SemiBold.woff') format("woff"), url('/fonts/OpenSans-SemiBold.woff2') format("woff2")
}

body {
    font: 14px OpenSans-Light;
    min-width: var(--post-width);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.main_container {
    margin: auto;
    width: var(--working-width);
    height: 100%;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-column-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hide {
    display: none;
}