:root {
    --working-width: 1220px;
    --working-padding: 10px;
    --header--height: 80px;
    --post-width: 300px;
}

@font-face {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Light"), local("OpenSans-Light"), url('/fonts/OpenSans-Light.woff') format("woff"), url('/fonts/OpenSans-Light.woff2') format("woff2")
}

@font-face {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Regular"), local("OpenSans-Regular"), url('/fonts/OpenSans-Regular.ttf') format("ttf")
}

@font-face {
    font-family: OpenSans-Semibold;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Semibold"), local("OpenSans-Semiboldr"), url('/fonts/OpenSans-Semibold.ttf') format("ttf")
}

body {
    font: 14px OpenSans-Light;
    min-width: calc(var(--post-width) + var(--working-padding));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.main_container {
    margin: auto;
    width: calc(var(--working-width) + var(--working-padding));
    padding: 0 10px;
}