.main_app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
}

.body_app {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fafafa;
    overflow: hidden;
}