@font-face {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Light"), local("OpenSans-Light"), url('/fonts/OpenSans-Light.woff') format("woff"), url('/fonts/OpenSans-Light.woff2') format("woff2")
}

@font-face {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Regular"), local("OpenSans-Regular"), url('/fonts/OpenSans-Regular.ttf') format("ttf")
}

@font-face {
    font-family: OpenSans-Semibold;
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans Semibold"), local("OpenSans-Semiboldr"), url('/fonts/OpenSans-Semibold.ttf') format("ttf")
}

body {
    font-family: OpenSans-Light;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    min-width: 330px;
}

.main_app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
}

.body_app {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fafafa;
    overflow: hidden;
}

@media (max-width: 1440px) {

    .main_app {
        width: 100vw;
    }
}