.container_header {
    height: 80px;
    width: 100%;
    padding: 20px 140px;
}

.create_header {
    width: 160px;
    height: 40px;
    float: right;
    background-color: #0029ff;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.logout_header {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #fafafa;
    float: right;
}

.logout-img_header {
    margin: 13px 15px;
    width: 14px;
    height: 14px;
    background-image: url("/images/logout.svg");
}

.input-img_header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

@media (max-width: 920px) {
    .container_header {
        padding: 20px;
    }
}