.container_index {
    padding: 0 140px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.scroll-container_index {
    background-color: #fafafa;
    overflow-y: scroll;
    height: 100%;
    margin-right: -15px;
    margin-bottom: -15px;
}

@media (max-width: 920px) {
    .container_index {
        padding: 20px;
    }
}