.container_index {
    background-color: #fafafa;
    padding: 0 140px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

@media (max-width: 920px) {
    .container_index {
        padding: 20px;
    }
}